{%load static%}
<!DOCTYPE html>
<html>
    {%include 'apartment/head.html'%}
    <body>
    
<div class="top-bar">
    <div class="container">
      <div class="row d-flex align-items-center">
        <div class="col-md-6 d-md-block d-none">
          <p>Contact us on +233 27 206 1049 or appartments20@gmail.com.</p>
        </div>
        <div class="col-md-6">
          <div class="d-flex justify-content-md-end justify-content-between">
            <ul class="list-inline contact-info d-block d-md-none">
              <li class="list-inline-item"><a href="#"><i class="fa fa-phone"></i></a></li>
              <li class="list-inline-item"><a href="#"><i class="fa fa-envelope"></i></a></li>
            </ul>
            <div class="login">
              {%if request.user.is_authenticated%}
              <a href="{%url 'profile'%}"><i class="fa fa-user mr-3"></i>
              <span class="d-none d-md-inline-block mr-3">Welcome {{request.user}}</span></a>
              <a href="{%url 'logout'%}"><i class="fa fa-sign-in"></i>
                <span class="d-none d-md-inline-block">Log out</span></a>
              {%else%}
              <a href="#" data-toggle="modal" data-target="#login-modal" class="login-btn"><i class="fa fa-sign-in"></i><span class="d-none d-md-inline-block">Sign In</span></a>
              <a href="{%url 'register'%}" class="signup-btn"><i class="fa fa-user"></i><span class="d-none d-md-inline-block">Sign Up</span></a>
              {%endif%}
            </div>
               <ul class="social-custom list-inline">
              <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li class="list-inline-item"><a href="#"><i class="fa fa-google-plus"></i></a></li>
              <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li class="list-inline-item"><a href="#"><i class="fa fa-envelope"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="login-modal" tabindex="-1" role="dialog" aria-labelledby="login-modalLabel" aria-hidden="true" class="modal fade">
    <div role="document" class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 id="login-modalLabel" class="modal-title">Customer Login</h4>
          <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
        </div>
        <div class="modal-body">
          <form action="{%url 'login_modal'%}" method="POST">
            {%csrf_token%}
            <div class="form-group">
              <input id="username" name="username" type="text" placeholder="username" class="form-control">
            </div>
            <div class="form-group">
              <input id="password" name="password" type="password" placeholder="password" class="form-control">
            </div>
            <p class="text-center">
              <button class="btn btn-template-outlined"><i class="fa fa-sign-in"></i> Log in</button>
            </p>
          </form>
          <p class="text-center text-muted">Not registered yet?</p>
          <p class="text-center text-muted"><a href="#"><strong>Register now</strong></a>! It is easy and done in 1 minute and gives you access to special discounts and much more!</p>
        </div>
      </div>
    </div>
  </div>
  <header class="nav-holder make-sticky">
    <div id="navbar" role="navigation" class="navbar navbar-expand-lg">
      <div class="container"><a href="{%url 'home'%}" class="navbar-brand home"><img src="{%static  'img/logo.png'%}" alt="Universal logo" class="d-none d-md-inline-block"><img src="{%static  'img/logo-small.png'%}" alt="Universal logo" class="d-inline-block d-md-none"><span class="sr-only">Universal - go to homepage</span></a>
        <button type="button" data-toggle="collapse" data-target="#navigation" class="navbar-toggler btn-template-outlined"><span class="sr-only">Toggle navigation</span><i class="fa fa-align-justify"></i></button>
        <div id="navigation" class="navbar-collapse collapse">
          <ul class="nav navbar-nav ml-auto">
            <li class="nav-item  {%block home%}{%endblock%} "><a href="{%url 'home'%}" class="nav-link ">Home</a>
            <li class="nav-item  {%block apartments%}{%endblock%}"><a href="{%url 'apartments'%}" class="nav-link ">apartments</a>
            <li class="nav-item {%block contact%}{%endblock%}"><a href="{%url 'apartments'%}" class="nav-link  ">Contact Us</a>

            </ul>
           
         
            <form role="search" class="navbar-form">
              <div class="input-group">
                <input type="text" placeholder="Search" class="form-control"><span class="input-group-btn">
                  <button type="submit" class="btn btn-template-main"><i class="fa fa-search"></i></button></span>
              </div>
            </form>
          
        </div>
      </div>
    </div>
  </header>
    {%block content%}
    {%endblock%}
    {%include 'apartment/footer.html'%}
    {%include 'apartment/scripts.html'%}
    </body>
</html>