{%extends 'accounts/base.html'%}
{%load static%}
{%block contact%}active{%endblock%}
{%block content%}

      <div id="heading-breadcrumbs" class="brder-top-0 border-bottom-0">
        <div class="container">
          <div class="row d-flex align-items-center flex-wrap">
            <div class="col-md-7">
              <h1 class="h2">Frequently asked questions</h1>
            </div>
            <div class="col-md-5">
              <ul class="breadcrumb d-flex justify-content-end">
                <li class="breadcrumb-item"><a href="{%url 'home'%}">Home</a></li>
                <li class="breadcrumb-item active">Faq</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div id="content">
        <div class="container">
          <div class="row bar">
            <div class="col-md-9">
              <section>
                <p class="lead">We have gathered a few of the questions most of our users ask which may be what you are looking for. We have briefly answered all of them.
                     In case you can't find what you are looking for, <a href="{%url 'contact'%}">contact</a> us and send us your question. We will be happy to help.</p>
                <div id="accordion" role="tablist">
                  <div class="card card-primary">
                    <div id="headingOne" role="tab" class="card-header">
                      <h5 class="mb-0 mt-0"><a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">1.Do you have to pay a fee to register?</a></h5>
                    </div>
                    <div id="collapseOne" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion" class="collapse show">
                      <div class="card-body">
                        <p>Creating an account with us is free. We do not charge any fees or sell you some of our services. We are a group of commited people who want to help society.
                             </p>
                        <ul>
                          <li>Please do not send any money to anyone who claims to be us.</li>
                          <li>If you want to support Appartment <a href="{%url 'contact'%}">contact</a> us for our details</li>
                          <li>Make sure you see the house owner in person before you pay any amount.</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="card card-primary">
                    <div id="headingTwo" role="tab" class="card-header">
                      <h5 class="mb-0 mt-0"><a data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" class="collapsed">
                          2.How do i get my house featured?</a></h5>
                    </div>
                    <div id="collapseTwo" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion" class="collapse">
                      <div class="card-body">Every week Appartment selects 3 of the best deals and features them.</div>
                    </div>
                  </div>
                  <div class="card card-primary">
                    <div id="headingThree" role="tab" class="card-header">
                      <h5 class="mb-0 mt-0"><a data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree" class="collapsed">
                           3. Why are some houses having the appartment logo as their picture?</a></h5>
                    </div>
                    <div id="collapseThree" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion" class="collapse">
                      <div class="card-body">The appartment logo is used as a placeholder if the owner of the house has not posted any images of the house.</div>
                    </div>
                  </div>
                  <div class="card card-primary">
                    <div id="headingFour" role="tab" class="card-header">
                      <h5 class="mb-0 mt-0"><a data-toggle="collapse" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive" class="collapsed">
                            4. How can I add more images to my house?</a></h5>
                    </div>
                    <div id="collapseFive" role="tabpanel" aria-labelledby="headingFour" data-parent="#accordion" class="collapse">
                      <div class="card-body">
                        <p>Currently Appartment gives out only 5 images per house. We have done this for some reasons..</p>
                        <ul>
                          <li>Large online storage capacity is <B>expensive.</B> </li>
                          <li>We want to maintain the speed at which the website responds to users.</li>
                        </ul>
                        <p>We are gradually building the site and making it better so We hope to include it in our <b>future update.</b></p>
                      </div>
                    </div>
                  </div>
                  
                </div>
                <p class="text-muted">In case you haven't found the answer for your question please feel free to <a href="{%url 'contact'%}">contact us</a>, our customer support will be happy to help you.</p>
              </section>
            </div>
            <div class="col-sm-3">
              <!-- PAGES MENU -->
              <div class="panel panel-default sidebar-menu">
                <div class="panel-heading">
                  <h3 class="h4 panel-title">Pages</h3>
                </div>
                <div class="panel-body">
                  <ul class="nav nav-pills flex-column text-sm">
                    <li class="nav-item"><a href="{%url 'privacy'%}" class="nav-link">Privacy policy</a></li>
                    <li class="nav-item"><a href="{%url 'contact'%}" class="nav-link">Contact page</a></li>
                    <li class="nav-item"><a href="{%url 'faq'%}" class="nav-link">FAQ</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {%endblock%}
     