{%extends 'accounts/base.html'%}
{%load static%}
{%block contact%}active{%endblock%}
{%block content%}

      <div id="heading-breadcrumbs" class="brder-top-0 border-bottom-0">
        <div class="container">
          <div class="row d-flex align-items-center flex-wrap">
            <div class="col-md-7">
              <h1 class="h2">Privacy policy</h1>
            </div>
            <div class="col-md-5">
              <ul class="breadcrumb d-flex justify-content-end">
                <li class="breadcrumb-item"><a href="{%url 'home'%}">Home</a></li>
                <li class="breadcrumb-item active">Privacy and Policy</li>
              </ul>
            </div>
          </div>
        </div>
      </div><div id="content">
        <div class="container">
          <div class="row bar">
            <div class="col-md-9">
              <section>
                <div id="text-page">
                  <p class="lead">Your privacy is important to us. So we've developed a Privacy Policy that shows how we collect, use, disclose, transfer, and store your information. Please take a look at our privacy practices and let us know if you have any questions.
                    By visiting Appartments, you are accepting the practices described in this Privacy Notice.</p>
                 
                    <h1>1. How Personal Information about Customers is used?</h1>
                  <p>The User data we collect such is used to improve our customer service and for marketing research purposes.</p>
                  <h2>What is done with your personal information?</h2>
                  <p>data collected help us to personalize our website according to each user’s wishes and preferences. The data we collect is for statistical analyses which helps us to</p>
                  <ol>
                    <li>Display apartments that may interest the user.</li>
                    <li>Prevent and detect fraud on the website.</li>
                    <li>To see the kind of apartments our users want.</li>
                  </ol>
                  
                  <h3>2. What is the accuracy of the Personal Data provided to Us?</h3>
                  <p>You declare and guarantee that You are the owner or have the necessary rights on the content that You transmit to Us; that at the date of its transmission (i) the content is exact and true, (ii) the use of the content does not contravene any of our policies and will not be damaging to any third party (i.e. that the content is not defamatory).</p>
                  <hr>

                  <h3>3. How Secure is Information about Me?</h3>
                    <p>It is important for you to protect against unauthorized access to your password and to your computer. Be sure to sign off when finished using a shared computer.
                        We work to protect the security of your information during transmission by using Secure Sockets Layer (SSL) software, which encrypts information you input.</p>
                  <hr>
                  <h3>4. Examples of Information Collected:</h3>
                  <ol>
                      <li><b>Information you give us</b></li>:This includes your email, firstname,lastname and the site's password.
                      <li><b>Automatic information</b></li>: Examples of the information we collect and analyze include the Internet protocol (IP) address used to connect your computer to the Internet; login; e-mail address; password; computer and connection information such as browser type, version, and time zone setting, browser plug-in types and versions, operating system, and platform;
                  </ol>
                  <h3>5. What are your rights?</h3>
                  <p>If you are concerned about your data you have the right to request access to the personal data which we may hold or process about you. You have the right to require us to correct any inaccuracies in your data free of charge. At any stage you also have the right to ask us to stop using your personal data for direct marketing purposes.</p>
                  
                  
                </div>
                <div class="text-center"><a href="{%url 'home'%}" class="btn btn-primary">Home</a></div>
                
              </section>
            </div>
            <div class="col-md-3">
              <!-- PAGES MENU -->
              <div class="panel panel-default sidebar-menu">
                <div class="panel-heading">
                  <h3 class="h4 panel-title">Pages</h3>
                </div>
                <div class="panel-body">
                  <ul class="nav nav-pills flex-column text-sm">
                    <li class="nav-item"><a href="{%url 'privacy'%}" class="nav-link">Privay policy</a></li>
                    <li class="nav-item"><a href="{%url 'contact'%}" class="nav-link">Contact page</a></li>
                    <li class="nav-item"><a href="{%url 'faq'%}" class="nav-link">FAQ</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      {%endblock%}
     